@import url("./variables.css");
@font-face {
  font-family: faustina;
  src: url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap");
}

body {
  font-family: "faustina", sans-serif;
  background-color: var(--neutral-color);
  color: var(--main-color-black);
  margin: 0;
}

input {
  border-radius: 5px;
  border: 1px solid var(--main-color-black);
}

input:focus {
  outline: 2px solid var(--accent-color);
}
