@import url("./variables.css");
@font-face {
  font-family: faustina;
  src: url("../assets/font/Faustina/Faustina-VariableFont_wght.ttf");
}

body {
  font-family: "faustina", sans-serif;
  background-color: var(--neutral-color);
  color: var(--main-color-black);
  margin: 0;
}

input {
  border-radius: 5px;
  border: 1px solid var(--main-color-black);
}

input:focus {
  outline: 2px solid var(--accent-color);
}

ul {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.3em;
  list-style-type: none;
}

.titre {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.buttonForm {
  background-color: var(--accent-color);
  color: var(--neutral-color);
  box-shadow: rgba(0, 0, 0, 0.2) 2.4px 2.4px 3.2px;
  font-size: 1em;
  border: none;
  border-radius: 50px;
  padding: 0.2em 1em;
  margin-top: 1em;
  cursor: pointer;
}

.buttonForm:hover {
  box-shadow: none;
}

.Form {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: var(--main-color-green);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.Form input {
  width: 60%;
  padding: 0.5em;
}

.formError {
  text-align: center;
  color: var(--red);
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  .Form {
    margin-top: 5em;
    width: 40%;
    margin: 3em auto;
  }

  .Form input {
    width: 45%;
    padding: 0.5em;
  }

  ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
  }
}
