@import url("../../variables.css");

.toolsbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--main-color-green);
  color: var(--neutral-color);
}

.logo {
  width: 5em;
}

.navButton {
  border: none;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 1.2em;
  font-weight: bold;
}

.navButton:hover {
  text-decoration: underline;
}

#logout {
  color: var(--red);
}

@media (min-width: 700px) {
  .toolsbar {
    padding-left: 2em;
  }
}
