.cardContainer {
  text-align: center;
  margin: 0;
  background-color: var(--neutral-color);
  border-radius: 15px;
  max-height: 600px;
  object-fit: contain;
}
.cardImg {
  max-width: 95%;
  border-radius: 0 0 15px 15px;
}

@media (min-width: 700px) {
  .cardImg {
    max-width: 100%;
    border-radius: 0 0 15px 15px;
  }
}
